.container {
  padding: 12px;
  border: solid 1px black;
  width: 250px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 50px;
}

.header {
  background-color: #f0f0f0;
  color: black;
  width: 100%;
}

p {
  font-size: 12px;
}

form {
  margin-bottom: 10px;
}
